#container-box{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height:250px;
    width:560px;
    gap:4px;
}
.box{
    border: 2px solid grey;
    width:140px;
    height:auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
}
.box:nth-child(2){
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}
.box:nth-child(1){
    background-color:beige;
    display: flex;
    flex-direction: column;
}
.box:nth-child(3){
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.box:nth-child(4){
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
}

.box:nth-child(1)>div,
.box:nth-child(3)>div{
    width:auto;
    height:50%;
}
.box:nth-child(2)>div,
.box:nth-child(4)>div{
    width:50%;
    height:50%;
}
img{
    height:auto;
    width: 140px;

}